@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
    background-color: #B4d3b2;
}

button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 15px;
    margin: 3px;
}

button:hover{
    background-color: gray;
}

h1{
    color: white;
    text-shadow: 2px 2px gray;
}

.buttons{
    margin: 15px;
    text-align: center;
}

.header{
    width: 180px;
    padding: 15px;
    margin:auto;
    align-content: center;
}

.container{
    width: 95%;
    margin: auto;
}

.create-box{
    width:380px;
    margin: auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: gray;
    align-self: center;
}

.create-box textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.flashcards{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-left: 45px;
    padding: 0 10px;
}

.flashcard{
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 black;
}