@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
    background-color: #B4d3b2;
}

button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
    margin:1px;
    transition: all 1.2s ease-in;
}

button:hover{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

h1{
    color: white;
    text-shadow: 2px 2px gray;
}

.buttons{
    width: 180%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.unutrasnjost{
    display: inline-block;
}

.header{
    width: 180px;
    padding: 15px;
    align-content: center;
    margin: 0 auto;
}

.container{
    width: 95%;
    margin: auto;
}

.create-box{
    width:380px;
    margin: auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: gray;
    align-self: center;
}

.create-box textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.flashcards{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-left: 45px;
    padding: 0 10px;
}

.flashcard{
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 black;
}