@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
    background-color: #B4d3b2;
}
.container{
    margin: 120px 15% auto 15%;
    width: 70%;
    display: flex;

}
.kartica{
    width: 28%;
    margin: 0 5px;
    padding: 10px;
    height: min-content;
    max-height: 600px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: gray;
    overflow-y:auto;
}
.kartica:not(:last-child){
    margin-right: 8%;
}
.naslov{
    width: 96.5%;
    position: relative;
    height: 100px;
    text-align: center;
}
#naslov{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    margin-bottom: 5px;
}
.dugme{
    margin-left: 10px;
    background-color: transparent;
    border: none;
}
#tezina{
    width: 22%;
    height: 29px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
}
#tezina:hover{
    background-color: lightgray;
}
#home{
    transition: all 1.2s ease-in;
    margin-right: 50%;
}
#home:hover{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
button{
    float:right;
}
.tekst{
    font-size: 20px;
    line-height: 25px;
    width: 68%;
}
.lista{
    width: 100%;
    list-style: none;
}
.lista .stavka{
    font-size: 24px;
    word-wrap: break-word;
    background-color: orange;
    margin: 5px 0;
    border: 2px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    word-break: break-all;
}
.lista .stavka button{
    background-color: transparent;
    font-size: 24px;
    border: none;
}
.lista .done{
    background-color: #2F4C39;
    text-decoration: line-through;
}
